/* TODO
 * 
 * horizontal scroller
 */



.container-full {
  margin: 0 auto;
  width: 100%;
}

/* Heartbleed */

body, h1, h2, h3, p, div {
    font-family: 'Titillium Web', 'Helvetica', 'Arial', sans-serif;
}

a {
    color: #ccac55;
}
a:hover {
    color: #ccac55;
}

html, body {
    background-color: #f0efef;
    padding-bottom: 2em;
}

.header {
    background-color: #ccac55;
    margin-bottom: 2em;
    margin-left: 0px;
    margin-right: 0px;
}
.header h1 {
    font-size: 30px;
    color: #272727;
    font-weight: 200;
    padding-bottom: 45px;
    margin-top: 0;
}
.header h1 span.title {
    color: #f0efef;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 48px;
}
h1.logo {
    color: #f0efef;
    text-transform: uppercase;
    padding-top: 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
}
a.logo {
    color: #f0efef;
    font-size: 16px;
}
a.logo:hover {
    text-decoration: none;
    color: #dad7d7;
}

.card {
    padding: 20px;
    border-radius: 0px;
    margin-top: 80px;
    margin-bottom: 1em;
    padding-top: 35px;
}
.card h1 {
    margin: 0.5em 0 0.5em 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10px;
}
.card p {
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}
.card p .counter {
    font-weight: 700;
}
.card-white {
    background-color: #ffffff;
}

.btn {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Titillium Web', 'Helvetica', 'Arial', sans-serif;
    border-radius: 0px;
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 1px;
    background-color: #ccac55;
    max-width: 100%;
}
.btn-borut {
    background-color: #ccac55;
}


.cardtitle {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    left: 0px;
}
.cardtitle h3 {
    font-family: 'Titillium Web', 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    top: -111px;
    position: absolute;
    width: 100%;
}

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #ccac55 transparent transparent transparent;
    position: absolute;
    left: 50%;
    margin-left: -30px;
}
.triangle-top {
    bottom: 25px;
    z-index: 4;
}
.triangle-bottom {
    border-color: #f0efef transparent transparent transparent;
    bottom: 5px;
    z-index: 3;
}


.forma {
    margin-top: 10px;
    margin-bottom: 10px;
}
::-webkit-input-placeholder {
   color: #dad7d7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #dad7d7;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #dad7d7;  
}

:-ms-input-placeholder {  
   color: #dad7d7;  
}
label.form-control {
    background-color: transparent;
    border: 0px solid;
    font-family: 'Titillium Web', 'Helvetica', 'Arial', sans-serif;
    border-radius: 0px;
    outline: none;
    box-shadow:none !important;
    -webkit-appearance:none;
    text-align: right;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
/*    color: #7ebfbf;*/
}
input.form-control {
    border-radius: 0px;
    outline: none;
    box-shadow:none !important;
    -webkit-appearance:none;
    border: 2px solid #dad7d7;
    height: 44px;
    line-height: 25px;
    font-size: 18px;
/*    color: #ccac55;*/
}

textarea.form-control {
    border-radius: 0px;
    outline: none;
    box-shadow:none !important;
    -webkit-appearance:none;
    border: 2px solid #dad7d7;
    line-height: 25px;
    font-size: 18px;
/*    color: #ccac55;*/
}

.thecheckbox {
    overflow: hidden;
    width: 100%;
    height: 30px;
}
.thebox {
    width: 26px;
    height: 26px;
    border: 2px solid #dad7d7;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    
}
.thebox.checked {
    background-color: #ccac55;
}
.thecheckbox p {
    line-height: 26px;
    margin-left: 10px;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    font-size: 14px;
    padding: 0;
}

#shorturl {
    text-align: center;
/*    margin-top: 10px;*/
}
.btn-shorturl {
/*    margin-top: 10px;*/
    width: 100%;
    background-color: #ccac55;
}
.btn-shorturl.zeroclipboard-is-hover {
    color: #dad7d7;
}
.btn-shorturl.zeroclipboard-is-active {
    color: #ffffff;
}

.row.social div {
    text-align: center;
/*    margin-top: 10px;*/
}
span.social {
    height: 60px;
    width: 60px;
    background-color: #ccac55;
    font-size: 32px;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}
span.social:hover {
    color: #dad7d7;
}
.icon-paperplane {
    margin-left: -2px;
}
ul li {
    list-style-image: url(../img/puscicagold.png);
    line-height: 1.4em;
    font-size: 1.4em;
    font-weight: bold;
}
ul li span {
    float: right;
    font-weight: normal;
}




/* reset input glow */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus
{
    outline: none !important;
    box-shadow:none !important;
    -webkit-appearance:none;
    border-color: #ccac55 !important;
}
.btn:focus {
    outline: none;
    box-shadow:none !important;
    -webkit-appearance:none;
}
.btn:hover {
    color: #dad7d7;
}
.btn:active {
    color: #ffffff;
}

.modal {
    border-radius: 0px;
}

.changer {
    height: 100px;
}



/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
    label.form-control {
        text-align: left;
    }
    #send {
        width: 100%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    label.form-control {
        text-align: left;
    }
    #send {
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    .thecheckbox p {
        font-size: 13px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {
}

/* Absurd devices (laaaaaarge desktops, 1920px and up) */
@media (min-width: 1920px) {
}





























